body {
  background-color: #6699ff;
  color: #d5e3ff;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  line-height: 200%;
  text-align: center;
}

nav {
  font-weight: bold;
    text-align: center;
}

nav li
{
  display: inline;
}

footer nav
{
  text-align: left;
}
footer nav ul
{
    padding-left: 10px;
}
footer nav li
{
    padding-right: 10px;
}


.category {
  font-weight: bold;
  background-color: #6699ff;
  color: #003366;
  font-size: 1.1em;
}
.category2
{
  text-shadow: 2px 1px 1px #666;
  color: #003366;
  font-weight: bold;
}
.category3
{ margin-top: 10;
  margin-top: 10px;
  color: #003366;
  font-weight: bold
}


.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

footer {
  font-size: .7em;
  font-style: italic;
}
